{{#partial "content"}}
    <h1>{{ locationIdea.name }}</h1>
    <h2>{{ locationIdea.voteCount }} Vote</h2>
    <ul>
        {{#each locationIdea.voters}}
            <li>{{ this }}</li>
        {{/each}}
    </ul>
    <form action="/location/{{ locationIdea.slug }}/vote" method="post">
        <button>Vote!</button>
    </form>

{{/partial}}

{{#partial "name"}}
    {{ locationIdea.name }}
{{/partial}}

{{> base.hbs}}